* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding: 30px 5px;
}

main {
  display: flex;
  padding: 50px;
}

section {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 500px;
}

footer {
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 30px 5px;
}
.footer-list {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
